$clr-primario-300: #c6e8eb;
$clr-primario-500: #72d5dc;
$clr-primario-700: #34c3cd;
$clr-primario-900: #00afbb;
$clr-secundario-300: #636274;
$clr-secundario-500: #304f4c;
$clr-sencudario-700: #1d426e;
$clr-secundario-900: #052d30;
$clr-neutro-300: #ffffff;
$clr-neutro-500: #c7c7c7;
$clr-transparencias: #00afbb;
$f-family-primaria: "Poppins", "sans serif";
$text-font: "Inter", 'arial', 'sans-serif';
$title-font: "Poppins", "sans serif";