
/* ------------------------------------------------------------------------- */
/* Favor de escribir sus css dendro de bloques de comentarios por asignación */
/* ------------------------------------------------------------------------- */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Issue #24: Asignación de variables para la paleta de colores*/
  --clr-primario-300: #C6E8EB;
  --clr-primario-500: #72D5DC;
  --clr-primario-700: #34C3CD;
  --clr-primario-900: #00AFBB;

  --clr-secundario-300: #86849E;
  --clr-secundario-500: #304F4C;
  --clr-sencudario-700: #1D426E;
  --clr-secundario-900: #052D30;

  --clr-neutro-300: #FFFFFF;
  --clr-neutro-500: #C7C7C7;

  --clr-transparencias: #00AFBB;
  
  --f-family-primaria: 'Poppins', "sans serif";
  /* --------------------------------- */

}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--clr-secundario-500);
  text-decoration: inherit;
  margin: 0;
  padding: 0;
}

.logo {
  height: 46px;
  display: inline;
}

/* Cambios de estilos a los <li> y <a>*/

li,a {
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

/* HEADER */

header {
  width: 100%;
  background-color: transparent;
  color: var(--clr-secundario-500);
  font-family: var(--f-family-primaria);
  font-weight: 600;

}

.header-flex {
  display: flex;
  align-items: center;
  gap: 5em;
}


.logo>a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--clr-secundario-900);
}

/* Menu hamburguesa */

.hamburger {
  display: none;
}

/* NAV BAR */

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  font-size: 1rem;
  padding: 0.7rem 2rem;
}

.nav-item:hover {
  color: var(--clr-primario-700);
  transition: all 0.5s ease-out;
}

.border-bot:hover {
  padding-bottom: 0.5em;
  border-bottom: 2px solid var(--clr-primario-700);
}


/* Responsive del Nav-bar */

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
    border: none;
    background: none;
    width: 46px;
    height: 46px;
  }
  .header-flex {
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  margin-top: 1rem;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--clr-secundario-900);
    margin: 6px 0;
  }

  .hamburger .short-line {
    width: 20px;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #F8F8F8;
    transition: 0.5s;
    overflow: hidden;
  }



  .nav-bar.active {
    min-height: calc(100vh - 80px);
  }

  .nav-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

}




/* Issue #14 Add hero banner */
.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('public/img/hero.jpg');
  background-size: cover;

}

.hero__content {
  width: 80%;
  margin: auto;
  font-weight: 600;
}

.hero__content__date {
  text-transform: uppercase;
  color: var(--clr-secundario-900);
  font-weight: bold;
  font-size: .9em;
}

.hero__content__date-cyan {
  color: var(--clr-primario-900);
}

.hero__content__title {
  font-size: 4.5em;
  text-transform: capitalize;
  margin: 0;
  color: var(--clr-secundario-900);
}

@media screen and (min-width: 768px) {
  .hero-banner {
    height: 50vh;
  }
}

@media screen and (min-width: 992px) {
  .hero-banner {
    height: 60vh;
  }
}

@media screen and (min-width: 1200px) {
  .hero-banner {
    height: 80vh;
  }

  .hero__content__date {
    font-size: 1em;
  }

  .hero__content__title {
    font-size: 4.5em;
  }
}
/*#20 Footer*/
.footer {
  min-width: 300px;
  height: auto;
  background: var(--clr-primario-500);
  color: var(--clr-neutro-300);
  font-family: var(--f-family-primaria);
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 25px 0px;
  gap: 10px;
}

.footer__main {
  text-align: center;
  color: var(--clr-neutro-300);
}
.footer__main-logo {
  font-size: 1.5rem;
  margin: 0px;
}

.footer__main-text {
  max-width: 280px;
  font-size: 14px;
  margin-top: 0px;
}

.footer__subs-title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
  margin-top: 0px;
}
.footer__subs-form {
  display: flex;
  justify-content: center;
}

.footer__subs-form-input {
  border: none;
  background-color: var(--clr-neutro-300);
  padding: 15px 30px;
  border-bottom-left-radius: 20px;
  font-size: 16px;
  color: var(--clr-primario-900);
}
.footer__subs-form-input::placeholder {
  color: var(--clr-neutro-500);
  font-size: 16px;
  font-weight: normal;
}

.footer__subs-form-submit {
  background: var(--clr-primario-700);
  border: none;
  color: var(--clr-neutro-300);
  cursor: pointer;
  padding: 15px 30px;
  border-top-right-radius: 20px;
  transition: all ease 0.5;
  font-size: 16px;
}
.footer__subs-form-submit:hover {
  background-color: var(--clr-secundario-500);
  transition: all ease 0.5;
}
.footer__subs-form-submit:active {
  transform: scale(1.1);
  background-color: var(--clr-neutro-300);
  color: var(--clr-primario-900);
  transition: all ease 0.25s;
}

.footer__subs-form-input:focus-visible {
  outline: none;
}

@media screen and (min-width: 768px) {
  .hero-banner {
    height: 50vh;
  }

  /*FOOTER RESPONSIVE*/
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding: 15px 0px 15px 0px;
  }

  .footer__main {
    text-align: left;
  }
  .footer__subs-title {
    margin: 0px 0px 10px 0px;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .hero-banner {
    height: 60vh;
  }

  @media screen and (min-width: 1200px) {
    .hero-banner {
      height: 80vh;
    }

    .hero__content__date {
      font-size: 1em;
    }

    .hero__content__title {
      font-size: 4.5em;
    }
  }
}
/* ------------------------- */

/* Issue #16: Add Section 1 */

.s1__container {
  margin: 0 auto;
  display: flex;
  width: 80vw;
  background-color: #f7f7f7;
  justify-content: center;
  font-family: var(--f-family-primaria);
}

.s1__img {
  display: flex;
  width: 538px;
  flex-shrink: inherit;
  
}
.s1__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s1__ticontainer {
  display: flex;
  height: 750px;
  max-width: 538px;
  align-items: center;
}

.s1__textinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50vw;
  margin: 0 3vw;
  gap: 40px;
}

.s1__textinfo h4 {
  color: var(--clr-primario-500);
  margin: 0;
}

.s1__textinfo h2 {
  color: var(--clr-secundario-900);
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}

.s1__textinfo p {
  color: var(--clr-secundario-300);
  font-family: Inter, sans-serif;
  margin: 0;
}

/* Book Now button */
.s1__f-btn {
  background-color: var(--clr-primario-700);
  border: 1px solid var(--clr-primario-900);
  font-size: 14px;
  font-weight: 500;
  padding: 15px 32px;
  font-family: var(--f-family-primaria);
  align-self: flex-start;
  transition: scale 0.3s ease-out;
  cursor: pointer;
}

.s1__f-btn:hover{
  background-color: var(--clr-primario-500);
  border: 1px solid var(--clr-primario-900);
  transform: scale(1.03);
}

.s1__f-btn:focus{
  background-color: var(--clr-primario-700);
  outline: 1px solid var(--clr-primario-900);
}
.s1__f-btn:active{
  transform: scale(0.98);
}


.s1__f-btn:disabled {
  background-color: var(--clr-neutro-300);
  
}


.s1__s-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.s1__sg-btn--arrows {
  display: inherit;
  margin-right: 3vw;
}

/* Arrow Buttons */
.s1__sg-btn--arrows button{
  border: 1px solid var(--clr-primario-900);
  background-color: var(--clr-primario-700);
  padding: 10px 20px;
  transition: scale 0.3s ease-out;
}

.s1__sg-btn--arrows button:hover{
  
  background-color: var(--clr-primario-500);
  transform: scale(1.03);
}

.s1__sg-btn--arrows button:focus{
  background-color: var(--clr-primario-700);
  outline: 1px solid var(--clr-primario-900);
}
.s1__sg-btn--arrows button:active{
  transform: scale(0.98);
}

.s1__sg-btn--arrows button:disabled {
  background-color: var(--clr-neutro-300);
  border: 1px solid var(--clr-neutro-500);
}

/* Number Buttons */
.s1__sg-btn--numbers button{
  background: none;
  color: var(--clr-neutro-500);
  border: none;
  font-size: 16px;
  font-family: var(--f-family-primaria);
  font-weight: 700;
}

.s1__sg-btn--numbers button:first-child {
  color: var(--clr-primario-700);
}

@media screen and (max-width: 992px) {
  .s1__container {
    width: 100vw;
    justify-content: space-evenly;
  }

  .s1__ticontainer {
    height: 500px;
    min-width: auto;
  }

  .s1__img {
    display: flex;
    width: 50vw;
  }

  .s1__textinfo {
    max-width: 50vw;
    margin: 0 2vw;
    gap: 10px;
  }

  .s1__sg-btn--arrows {
    margin-right: 2vw;
  }
}

@media screen and (max-width: 768px) {
  .s1__container {
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .s1__ticontainer {
    display: flex;
    width: 100vw;
    height: 50vh;
  }

  .s1__img {
    display: flex;
    width: 100vw;
    height: 45vh;
  }

  .s1__textinfo {
    height: 45vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90vw;
    justify-content: space-evenly;
  }

  .s1__textinfo h4 {
    font-size: 1rem;
  }

  .s1__textinfo h2 {
    font-size: 2rem;
  }

  .s1__textinfo p {
    font-size: 1.05rem;
  }

  .s1__f-btn {
    font-size: 18px;
  }

  .s1__s-btn {
    justify-content: space-between;
  }

  .s1__sg-btn--arrows button {
    padding: 10px 25px;
  }

  .s1__sg-btn--numbers button{
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 375px) {
  .s1__textinfo h4 {
    font-size: 0.8rem;
  }

  .s1__textinfo h2 {
    font-size: 1.3rem;
  }

  .s1__textinfo p {
    font-size: 0.8rem;
  }

  .s1__f-btn {
    font-size: 13px;
  }

  .s1__sg-btn--arrows button {
    padding: 8px 18px;
  }

  .s1__sg-btn--numbers button{
    font-size: 1rem;
  }
}
 .attribution {
  width: 100%;
  background-color: var(--clr-primario-700);
  display: flex;
  justify-content: center;
}

 .attribution__title {
  font-size: 1rem;
  color: white;
}
.attribution__links{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.attribution__links a {
  text-decoration: none;
}
.attribution__link {
   display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: var(--clr-primario-500);
  border-radius: 50%;
  color: white;
  padding: 0.725rem;
  box-sizing: border-box;
}
.attribution__link:hover {
  background-color: var(--clr-primario-900);

}
.attribution--wrapper {
  background-color: unset;
  width: 100%;
  max-width: 80vw;
  margin: 0, auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0, auto;
}

.attribution__link > svg {
 width: 32px;
 height: 32px;

}

@media screen and (max-width: 768px) {
  .attribution--wrapper {
    flex-flow: column;
    margin-bottom: 2rem;
  }

}

/* --------------------------------- */