/* ------------------------------------------------------------------------- */
/* Favor de escribir sus css dendro de bloques de comentarios por asignación */
/* ------------------------------------------------------------------------- */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Fix de box-sizing. */

* {
  box-sizing: border-box;
}


/* fix de margin y padding */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  margin: 0;
  padding: 0;
}
a:hover {
  color: #535bf2;
}

/* 

-borrado de propiedades asignadas por Vite.js

-el color es provisorio, fue usado para orientarme en la construcción de la nav bar.

*/
body {
  background-color: #646cff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Cambios de estilos a los <li> y <a>*/

li,a {
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
}

/* HEADER */

header {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;

}


.logo>a {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
}

/* Menu hamburguesa */

.hamburger {
  display: none;
}

/* NAV BAR */

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: black;
  font-size: 1rem;
  padding: 0.7rem 2rem;
}


.nav-item {
position: relative;
}

.nav-item:hover {
  color: lightblue;
  transition: all 0.5s ease-out;
}

.border-bot:hover {
  padding-bottom: 0.5em;
  border-bottom: 1px solid lightblue;
}


.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

/* Responsive del Nav-bar */

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30x;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }

  .hamburger .short-line {
    width: 20px;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 8px;
    background-color: #FFF;
    transform: 0.2s;
    transition: 0.5s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}