/* ------------------------------------------------------------------------- */
/* Favor de escribir sus css dendro de bloques de comentarios por asignación */
/* ------------------------------------------------------------------------- */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Issue #24: Asignación de variables para la paleta de colores*/
  --clr-primario-300: #C6E8EB;
  --clr-primario-500: #72D5DC;
  --clr-primario-700: #34C3CD;
  --clr-primario-900: #00AFBB;

  --clr-secundario-300: #86849E;
  --clr-secundario-500: #304F4C;
  --clr-sencudario-700: #1D426E;
  --clr-secundario-900: #052D30;

  --clr-neutro-300: #FFFFFF;
  --clr-neutro-500: #C7C7C7;

  --clr-transparencias: #00AFBB;
  /* --------------------------------- */

}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Issue #14 Add hero banner */
.hero-banner {
  display: flex;
  align-items: center;
  background-color: red;
  background-image: url('/public/img/hero.jpg');
  background-size: cover;
}

.hero__content {
  width: 80%;
  margin: auto;
}

.hero__content__date {
  text-transform: uppercase;
  color: var(--clr-secundario-900);
  font-weight: bold;
  font-size: .9em;
}

.hero__content__date-cyan {
  color: var(--clr-primario-900);
}

.hero__content__title {
  font-size: 3.2em;
  text-transform: capitalize;
  margin: 0;
  color: var(--clr-secundario-900);
}

@media screen and (min-width: 768px) {
  .hero-banner {
    height: 30vh;
    /* background: green; */
  }
}

@media screen and (min-width: 992px) {
  .hero-banner {
    height: 60vh;
  }
}

@media screen and (min-width: 1200px) {
  .hero-banner {
    height: 80vh;
  }

  .hero__content__date {
    font-size: 1em;
  }

  .hero__content__title {
    font-size: 3.5em;
  }
}


/* ------------------------- */